@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111827;
}

#root {
  display: flex;
  flex-direction: column;
}

.blocklyMainBackground {
  fill: #1F2937 !important;
}

.blocklyToolboxDiv {
  background-color: #111827 !important;
  color: #D1D5DB !important;
}

.blocklyFlyoutBackground {
  fill: #1F2937 !important;
}

.blocklyFlyout {
  background-color: #1F2937 !important;
}

.blocklyScrollbarHandle {
  fill: #4B5563 !important;
}

.blocklyScrollbarBackground {
  fill: #374151 !important;
}

.blocklySelected > .blocklyPath {
  stroke: #4ADE80 !important;
  stroke-width: 3px !important;
}

.blocklyHighlightedConnectionPath {
  stroke: #4ADE80 !important;
}